.isolateItem{
    border-bottom: 5px solid black;
    max-height: 30%;
    position: relative;
    margin-top: 0.5%;
    border-bottom-width: thin;
}

.isolateResult-align {
    position: relative;
    float: left;
    margin-left: 2%;
    margin-right: auto;
    height: 100%;
}

.sequenceResult-align {
    position: relative;
    margin-left: 20%;
}

#sequenceResult-align-font {
    font-size: 14px;
}