.isolate-returned {
    flex-direction: column;
}

.isolate-link {
    position: relative;
}

.isolate-link:hover .isolate-summary {
    visibility: visible;
    position: absolute;
    margin-left: 55%;
    background-color: white;
    box-shadow: -3px -4px 12px 0px rgba(0,0,0,0.7);
}

.isolate-summary {
    visibility: hidden;
    position: absolute;
    margin-left: 55%;
}

.isolate-summary:hover {
    visibility: visible;
    position: absolute;
    margin-left: 55%;
    background-color: white;
    box-shadow: -3px -4px 12px 0px rgba(0,0,0,0.7);
}