.filterOptions-options {
    position: relative;
    max-width: 100%;
    margin-left: 2%;
    margin-top: 4%;
}

.filterOptions-options-item {
    position: relative;
    padding-left: 4%;
    max-width: 100%;
    float: left;
}

.filterOptions-options-button {
    position: relative;
    margin-left: 10%;
    margin-top: 48%;
}